
.box .layui-layout-admin .layui-header {
    background: white;
    /*border-bottom: 1px solid #E4E4E4;*/
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.box .layui-layout-admin .layui-logo {
    font-size: 24px;
    color: white;

    width: 200px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/*.index {*/
    /*width: 250px;*/
    /*position: absolute;*/
    /*left: 264px;*/
    /*top: 0;*/
    /*height: 60px;*/
    /*line-height: 60px;*/
/*}*/
.search {
    width: 250px;
    position: absolute;
    left: 274px;
    top: 11px;
    height: 60px;
    line-height: 60px;
}

.search .layui-input {
    width: 240px;
    border-radius: 80px;
    background-color: rgba(242, 242, 242, 1);
    border: none;
}

/*.layui-layout .layui-nav .layui-nav-item a {*/
    /*color: black;*/
/*}*/


.main .layui-nav {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    z-index: 999;
    width: 201px;
    overflow-x: hidden;
    border-right: 1px solid #E4E4E4;

}

/*.layui-side-scroll .layui-nav-tree {*/
    /*width: 240px;*/
/*}*/

/*.layui-side-scroll .layui-nav {*/
    /*position: relative;*/
    /*background-color: #2b26ed;*/
    /*color: black;*/
    /*font-size: 0;*/
    /*box-sizing: border-box;*/
    /*padding: 0 20px;*/
    /*border-radius: 2px;*/
/*}*/

.layui-header .layui-layout-right img {
    width: 40px;
    height: 40px;
}
/*.layui-layout-right .layui-nav-child a {*/
    /*color: #8D8D8D;*/
/*}*/

.layui-tab-title .layui-this:after {
    border-style: none;
}
.layui-tab-item iframe {
    width: 100%;
    border: 0;
    height: 100%;
}
/*.layui-nav li a {*/
    /*color: black;*/
/*}*/
/*.main_right_foot {*/
    /*text-align: center;*/
/*}*/
/*.main .layui-nav .layui-nav-item a {*/
    /*color: black;*/

/*}*/
.layui-bg-white {
    background: white;
}
/*.main .layui-nav-tree .layui-nav-child a {*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*color: #000;*/
/*}*/
/*.main .layui-nav .layui-nav-more {*/
    /*border-top-color: #000;*/
/*}*/
.main .layui-nav {
    background: white;
}
/*.main_right {*/
    /*position: absolute;*/
    /*left: 240px;*/
    /*right: 20px;*/
    /*top: 50px;*/
    /*bottom: 0;*/
    /*z-index: 998;*/
    /*width: auto;*/
    /*overflow: hidden;*/
    /*overflow-y: auto;*/
    /*box-sizing: border-box;*/
/*}*/
/*.fa-home:before {*/
    /*content: "\f015";*/
    /*font-size: 20px;*/
    /*color: #c1c1c1;*/
    /*margin-right: 15px;*/
/*}*/
/*.main .layui-nav-child {*/
    /*display: block;*/
    /*padding: 0;*/
    /*background-color: rgba(249, 242, 242, 0.3)!important;*/
    /*border: 1px solid black;*/
/*}*/
.main_right_tab .tab_index i.layui-tab-close{
    display: none;
}
.main_right_tab .layui-tab-title{
         background: #6d93a2;

     }
.layui-tab-title .layui-this:after{
    border-style: none;
}
.layui-tab-title .layui-this {
    color: white ;
    background: #b4d691;
}
.main_right_tab .layui-tab-title li i {
    color: #6d93a2;
}
.layui-nav-tree ul li>a{
    background: red;
}
.layui-colorpicker{
    border: 0;
}