<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="imgae/x-icon" href="../../img/hours.ico"/>
    <script src="../../base/js/jquery-3.3.1.min.js"></script>
    <script src="../../base/plugins/layui/layui.js"></script>
    <script src="../../base/js/requestUtil.js"></script>
    <script src="../../base/js/global.js"></script>
    <script src="../../base/js/baseUtil.js"></script>
    <script src="js/editPassword.js"></script>
    <link rel="stylesheet" href="../../base/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../base/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="css/purchaseInfo.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/detailsPage.css">
    <link rel="stylesheet" href="../../base/css/global.css">
    <link rel="stylesheet" href="css/style.css">
    <title>修改密码</title>

    <style>
        #session_user_div{
            float: right;
            padding: 0 20px;
        }
        span.layui-nav-bar{
            height: 0px;
            top: 80px;
        }
        .title{
            color:#666666;
        }
        .passwordForm{
            margin-left: 35%;
        }
    </style>
</head>
<body>
<div class="title fl">
    <h1><img src="../../img/logo.png" height="52" width="67"/>房产销售管理系统</h1>
</div>
<div class="nav-wrap">
    <ul class="nav">
        <li><a href="home.html">首页</a></li>
        <li><a href="#">好房推荐</a></li>
        <li><a href="#">最新资讯</a></li>
        <li><a href="#">特色楼盘</a></li>
        <li><a href="#">精装房</a></li>
        <li><a href="home.html">购房流程</a></li>
        <div class="fr" id="login_div">
            <li><a href="../../login.html"><i class="fa fa-user"></i>登录</a>|</li>
            <li><a href="../../registered.html"><i class="fa fa-sign-in"></i>注册</a></li>
        </div>
        <div id="session_user_div" class="hidden layui-nav" style="background-color: white;">
            <li class="layui-nav-item" style="line-height: 80px;">
                <img  id="session_user_url" src="//t.cn/RCzsdCq" class="layui-nav-img">
                <font style="color: black">欢迎您，</font>
                <lable  id="session_user_name" style="color:black">张三</lable>
                <font style="color: black">！</font>
                <dl class="layui-nav-child" id="navTopGroup">
                    <dd><a href="javascript:;"  id="btnUpdate"><i class="fa fa-address-card-o"></i>我的信息</a></dd>
                    <dd><a href="javascript:;" id="btnLoginOut"><i class="fa fa-undo"></i>安全退出</a></dd>
                </dl>
            </li>
        </div>
    </ul>
</div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">修改密码</div>
            <div class="layui-card-body" pad15="">
                <form class="passwordForm layui-form" lay-filter="" id="Password_form">
                    <input type="hidden" name="user.user_id" id="user_id_user_profile">
                    <input type="hidden" name="user.version" id="version_user_profile">
                    <div class="layui-form-item">
                        <label class="layui-form-label">当前密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="old_password" id="old_password_submit" lay-verify="required" lay-vertype="tips" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="user.password" lay-verify="pass" lay-vertype="tips" autocomplete="off" id="password_user_submit" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="passowrd_user_comfim" lay-verify="repass" lay-vertype="tips" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" id="btnSubmit" lay-filter="setmypass" type="button">确认修改</button>
                            <button class="layui-btn layui-btn-danger"  type="button" id="btnClose">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;
    });
</script>
</html>